* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #2e80ce;
  --word-color: #ffffff;
}

/* Common */
a {
  text-decoration: none;
  color: #c9d2da;
}
.cta__log-in,
.font__size-a,
nav a {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
  color: #c9d2da;
}

.btn {
  padding: 15px 46px;
  border-radius: 30px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: var(--color-primary);
  width: 205px;
}

.logo {
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  min-width: 8.6em;
}

.logo__before-after::before,
.logo__before-after::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__before-after::before {
  width: 3em;
  height: 3em;
  background: #2e80ce;
}

.logo__before-after::after {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 1.6em;
  height: 1.6em;
  background: #fff;
}

.logo__text {
  width: 5em;
  margin-left: 0.6em;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 300;
  text-align: right;
  line-height: 1.2em;
}

.logo__text--big {
  font-size: 1.8em;
  font-weight: 400;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.main-content {
  width: 1170px;
  max-width: calc(1170px - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header-fixed {
  position: sticky;
  top: -28px;
  padding: 38px;
  height: 100px;
  background: #10375c;
  z-index: 2;
}

.header__main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list-item {
  position: relative;
  display: flex;
  justify-content: space-around;
}

nav a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #ffffff;
  font-weight: 400;
}

.home a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
}

.active::before {
  position: absolute;
  left: -13px;
  top: 11px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.header__item:not(:last-of-type) {
  margin-right: 42px;
}

.header__cta {
  display: flex;
  align-items: center;
}

.header__btn {
  padding: 8px 20px;
  border-radius: 22px;
  border: 1px solid var(--color-primary);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-primary);
  background: transparent;
}

.header__btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.cta__log-in {
  margin-right: 28px;
}

/* Hero */
.hero {
  background: #10375c;
  padding: 76px;
}

.hero__info {
  width: 517px;
  margin: 60px 113px 60px 0;
}
.hero__main-content {
  display: flex;
  align-items: center;
}

/* Hero-left */
.hero-left {
  width: 44%;
}

.hero__title,
.title {
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 80px;
  color: var(--word-color);
}

.hero__desc,
.desc {
  margin-top: 22px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px;
  color: #c9d2da;
}

.hero__cta {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__cta span {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  color: var(--word-color);
}

.hero__btn {
  margin-right: 38px;
}

/* Hero-right */
.hero-right {
  flex-grow: 1;
}

/* hero__image */

.hero__image {
  display: flex;
  justify-content: end;
  align-items: center;
}

.img__physician {
  width: 330px;
  height: 540px;
  object-fit: cover;
  border-radius: 6px;
}

.img__physician--big {
  position: relative;
  margin-right: -6px;
}

.img__physician--smal {
  width: 210px;
  height: 410px;
}

/* service */
.service {
  padding: 170px 0;
}

.header-info {
  margin-right: auto;
  margin-left: auto;
  width: 468px;
  height: 138px;
}

.service__sub-title,
.sub-title {
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px;
  color: #10375c;
  text-align: center;
}

.service__desc {
  text-align: center;
}

.service__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  width: 1170px;
}

.service__item {
  display: flex;
  align-items: center;
  width: 470px;
  height: 128px;
  transition: 0.2s;
}

.tooth {
  display: inline-block;
  padding: 18px 19px;
  border-radius: 30px;
  box-shadow: 0px 8px 16px 0px #289bde26;
  background: #fff;
  margin-right: 19px;
  padding-left: 22px;
  transition: 0.2s;
}

.service__item:hover {
  box-shadow: 0px 14px 28px 0px #0000000d;
  border-radius: 30px;
  background: #fff;
}

.service__item:hover .tooth {
  color: white;
  box-shadow: 0px 8px 16px 0px #289bde26;
  background: #2e80ce;
  color: #fff;
}

.service__btn {
  margin-top: 55px;
  width: 205px;
}

.mini-title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 23px;
}

.service__desc--mini {
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
  color: #575f66;
}

/* how-it-work */
.how-it-work {
  margin-top: 170px;
  background: #f6fbff;
  padding: 100px 0;
}

.how__list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search {
  width: 72px;
  height: 72px;
  padding: 2.23px, 2.25px, 2.25px, 2.23px;
}

.how__item {
  margin-top: 70px;
  width: 355px;
  height: calc(402px - 15px);
  border-radius: 4px;
  border: 15px solid #2e80ce;
}

.how__item {
  border: 15px solid #eaf6ff;
  transition: 0.25s;
}

.how__item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.how__body--info {
  padding: 43px 42px;
}

.how__mini-title {
  margin-top: 18px;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 36px;
  color: #10375c;
}

.how__item-desc {
  margin-top: 28px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
  color: #575f66;
}

.how__link {
  display: inline-block;
  margin-top: 18px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  color: #2e80ce;
}

.how__mini-info {
  margin-left: 0;
}

.how__sub-title {
  text-align: start;
}

/* features */
.features {
  margin: 170px;
}

.features__main-content {
  display: flex;
}

.features__list-image {
  position: relative;
  margin-right: 130px;
  width: 570px;
  height: 491px;
}

.features__info {
  margin: auto 0;
  width: 470px;
  height: 326px;
}

.features__img1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 512px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}

.features__img2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 332px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}

.features-sub-title {
  text-align: start;
}

.features__desc {
  margin-top: 18px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  color: #575f66;
}

.features__btn {
  margin-top: 38px;
}

/* member */
.member {
  margin-top: 170px;
}

.member__list-item {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.member__item {
  width: 270px;
  border-radius: 6px;
}

.member__item:hover .member__doctor {
  transform: scale(1.1);
}

.member-image {
  display: flex;
  padding-top: 28px;
  background: #eaf6ff;
  overflow: hidden;
  border-radius: 6px;
}

/* img-doctor */
.member__doctor {
  display: inline-block;
  max-width: 100%;
  height: 290px;
  object-fit: cover;
  transition: 0.25s;
}

.member__info {
  text-align: center;
  margin-top: 12px;
}

.name-doctor {
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 550;
  line-height: 1.67;
  color: #10375c;
}

.adrress-doctor {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 26px;
  color: #575f66;
}

.member__btn {
  margin: 38px auto 0;
  width: 205px;
  padding: 21px 0;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  border-radius: 30px;
  background: #2e80ce;
}

.member__arrow {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 18px;
  transition: 0.25s;
}

.member__arrow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #575f66;
  outline: none;
  background: #fff;
  color: #575f66;
  transition: 0.25s;
}

.member__arrow-btn:hover {
  border: var(--color-primary);
  background: var(--color-primary);
  color: #fff;
}

.member__arrow-next-icon {
  rotate: 180deg;
}
/* install */
.install {
  margin-top: 256px;
}

.install__main-content {
  position: relative;
  display: flex;
  background: var(--color-primary);
}

.install__info {
  margin: auto;
  width: 586px;
  height: 276px;
}

.install__sub-title {
  text-align: start;
  color: #fff;
}

.install__desc {
  margin-top: 18px;
}

.from-install {
  display: flex;
  column-gap: 28px;
  margin-top: 38px;
}

.phone {
  z-index: 1;
  margin-top: -95px;
  margin-left: 70px;
}

/* news */
.news {
  margin-top: 170px;
}

.news__header {
  margin: auto 130px auto 0;
  width: 470px;
}

.news__sub-title {
  text-align: start;
  margin-bottom: 28px;
}

.news__link {
  display: inline-block;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28px;
  color: #575f66;
  text-underline-offset: 5px;
  text-decoration-line: underline;
}

.news__main-content {
  display: flex;
}

.news__list-item {
  display: flex;
  justify-content: space-between;
}

.news__item {
  width: 270px;
  border-radius: 12px;
  transition: 0.25s;
  overflow: hidden;
}

.news__item:hover .vacine-info {
  border-color: #fff;
}

.news__item:hover {
  box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
}

.news__arrow {
  display: flex;
  column-gap: 18px;
  margin-top: 28px;
}

.vacine-info {
  padding: 18px 24px 21px;
  background: #fff;
  border: 1px solid #e8ebee;
  border-top: none;
  border-radius: 0 0 12px 12px;
  transition: 0.25s;
}

.news__mini-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #10375c;
}

.news__mini-desc {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 24px;
  color: #575f66;
}

.new__how__link {
  margin-top: 12px;
  color: #10375c;
}

.news__item:hover .new__how__link {
  color: #2e80ce;
}

.news__item + .news__item {
  margin-left: 30px;
}

.news-item__thumb {
  height: 172px;
  overflow: hidden;
}

.vacine {
  display: block;
  width: 270px;
  height: 172px;
  object-fit: cover;
  transition: 0.25s;
}

.news__item:hover .vacine {
  transform: scale(1.1);
}

/* ------appointment---------- */
.appointment {
  margin-top: 170px;
}

.appointment__main-content {
  background: #f6fbff;
}

.appointment__body {
  padding: 100px 0;
}

.appointment__rectangle {
  margin: 18px auto 0;
  width: 136px;
  height: 2px;
  background: #2e80ce;
}

.appointment__body {
  text-align: center;
}

.appointment__desc {
  width: 617px;
  margin: 18px auto 0;
}

.appointment__btn {
  margin: 38px auto 0;
}

/* --------footer------------- */
.footer {
  position: relative;
  margin-top: 170px;
  background: #10375c;
}

.footer__header {
  width: 336px;
  margin-left: 0;
  margin-right: 78px;
}

.footer__main-content {
  display: flex;
  padding: 100px 0;
}

.footer__link {
  font-family: Open Sans;
  font-size: 1.6;
  font-weight: 400;
  line-height: 28px;
  color: #a9b3bb;
}

.footer__body {
  display: flex;
}

.footer__list-item {
  margin-top: 20px;
}

.support span {
  font-family: Open Sans;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px;
  color: #ffffff;
}

.support:nth-of-type(2) {
  margin-top: 28px;
}

.footer__info-support {
  margin-right: 78px;
}

.footer-item + .footer-item {
  padding-top: 10px;
}

.footer-item__contact:last-of-type {
  display: flex;
  align-items: center;
}

.support__footer--link {
  padding: 10px 0 10px 10px;
  width: 212px;
  margin-right: 12px;
  border: 1px solid #406181;
}

.footer__btn {
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 48px;
  color: #ffffff;
  padding: 0 24px;
  background: #2e80ce;
}

.footer__rectangle {
  position: absolute;
  bottom: 70px;
  right: 135px;
  left: 135px;

  width: 1170px;
  height: 1px;
  background: #406181;
}

.footer__info {
  position: absolute;
  bottom: 21px;
  left: 547px;
  right: 547px;
}
